.col-md-12.text-left
  %table.table.table-bordered.table-hover.qapp-item
    %tr{'ng-repeat' => 'result in results'}
      %td.text-left
        .sr-category
          %span{'ng-show'=>'result.base_category.name'}
            %a{href:'javascript:void(0)', 'ng-click' => 'showResult(result.base_category)'}
              {{result.base_category.name}}
            {{' / '}}
          %span{'ng-show'=>'result.sub_category.name'}
            %a{href:'javascript:void(0)', 'ng-click' => 'showResult(result.base_category, result.sub_category)'}
              {{result.sub_category.name}}
        .sr-item
          %a{href:'javascript:void(0)', 'ng-click' => 'showResult(result.base_category, result.sub_category, result.item_id)'}
            {{result.name}}
