%section{id:"#{div_id}"}
  .container{'ng-controller' => "#{ng_controller}", 'ng-init' => "init(#{category.to_json})"}
    .section-heading.scrollpoint.sp-effect3.active.animated.fadeInDown
      .row
        .col-md-12
          %ol.breadcrumb.text-left
            %li{'ng-repeat' => 'parent in parents'}
              %button.btn.btn-link{'ng-click' => 'seeChildren(parent)'}
                {{parent.name}}
            %div
              %span{'ng-show' => 'hasDescription'}
                %a{href:'', rel:'nofollow', 'ng-click' => 'toggleShowDescription()', 'ng-hide' => 'showDescription'}
                  %i.fa.fa-arrow-circle-right.fa-2x.swing
                %a{href:'', rel:'nofollow', 'ng-click' => 'toggleShowDescription()', 'ng-show' => 'showDescription'}
                  %i.fa.fa-arrow-circle-down.fa-2x.swing
              %a{'ng-href' => '/index/{{current_parent.action()}}', style:'margin-left:0.5em', target:'_blank'}
                %i.fa.fa-file-word-o.fa-2x.swing
              %div.sp-effect3.animated.fadeInDown{'ng-show' => 'showDescription', style:'opacity:0'}
                %q-markdown{data:'current_parent.description'}

          %table.table.table-bordered.table-hover.qapp-category
            %tr{'ng-repeat' => 'row in categoriesIn3s'}
              %td{'ng-repeat' => 'category in row'}
                %button.btn.btn-link{'ng-click' => 'seeChildren(category)'}
                  {{category.name}}
      .row
        .col-md-12
          %table.table.table-bordered.table-hover.qapp-item{'ng-show' => 'hasItems'}
            %tr
              %th Name
              %th Actions
              %th Platform(s)
              %th License(s)
              %th{'ng-repeat' => '(field,type) in current_parent.fields_def'}
                {{field.camelize(true)}}
            %tr{'ng-repeat' => 'item in items'}
              %td.text-left
                {{item.name}}
              %td.text-left
                %a{href:"{{item.website}}", rel:'nofollow', target:'_blank', 'ng-show' => 'item.website'}
                  %i.fa.fa-external-link
              %td.text-left
                {{item.platform_names}}
              %td.text-left
                {{item.license_names}}
              %td.text-left{'ng-repeat' => '(field,type) in current_parent.fields_def'}
                {{item.fields[field]}}
    -#%h1 Trends
    -#-#%script(src="about:blank")
    -#%script(src="//www.google.com/trends/embed.js?hl=en-US&q=html5,jquery&tz&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=500&h=330")
