- content_for(:header) do
  .box-image{id:'box-image', style:'position:relative'}

%wrapper
  %section{id:'enterprise'}
    .container
      .section-heading.scrollpoint.sp-effect3.active.animated.fadeInDown
        %h1
          Enterprise Applications
        .divider
        %p The table and info will be here
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space

  %section{id:'programming'}
    .container
      .section-heading.scrollpoint.sp-effect3.active.animated.fadeInDown
        %h1
          Programming Platforms
        .divider
        %p The table and info will be here
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space

  %section{id:'development'}
    .container
      .section-heading.scrollpoint.sp-effect3.active.animated.fadeInDown
        %h1
          Development Tools
        .divider
        %p The table and info will be here
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
