- content_for(:header) do
  .box-image{id:'box-image', style:'position:relative'}
    %div{style:'height:160px'}
    .container.main
      .row
        .col-md-10.col-md-offset-1.text-center
          %p.title
            New Project? Start here:
      .row
        .col-md-4
          .main-item.sp-effect3
            %a{href:'#enterprise'}
              %i.fa.fa-university
              .subtitle
                Enterprise Applications

        .col-md-4
          .main-item.sp-effect3
            %a{href:'#programming'}
              %i.fa.fa-cogs
              .subtitle
                Programming Platforms

        .col-md-4
          .main-item.sp-effect3
            %a{href:'#development'}
              %i.fa.fa-connectdevelop
              .subtitle
                Development Tools

%wrapper
  %section{id:'enterprise'}
    .container{'ng-controller' => 'EAController'}
      .section-heading.scrollpoint.sp-effect3.active.animated.fadeInDown
        %h1
          Enterprise Applications
        .divider
        .row
          .col-md-12
            %ol.breadcrumb.text-left
              %li{'ng-repeat' => 'parent in parents'}
                %button.btn.btn-link{'ng-click' => 'seeChildren(parent)'}
                  {{parent.name}}
            %table.table.table-bordered.table-hover
              %tr{'ng-repeat' => 'row in categoriesIn3s'}
                %td{'ng-repeat' => 'category in row'}
                  %button.btn.btn-link{'ng-click' => 'seeChildren(category)'}
                    {{category.name}}
        .row
          .col-md-12
            %table.table.table-bordered.table-hover{'ng-show' => 'hasItems'}
              %tr
                %th ID
                %th Name
                %th Website
                %th Platform(s)
                %th License(s)
              %tr{'ng-repeat' => 'item in items'}
                %td.text-left
                  {{item.id}}
                %td.text-left
                  {{item.name}}
                %td.text-left
                  %a{href:"{{item.website}}", target:'_blank'}
                    {{item.website}}
                %td.text-left
                  {{item.platform_names}}
                %td.text-left
                  {{item.license_names}}

  %section{id:'programming'}
    .container{'ng-controller' => 'PPController'}
      .section-heading.scrollpoint.sp-effect3.active.animated.fadeInDown
        %h1
          Programming Platforms
        .divider
        .row
          .col-md-12
            %ol.breadcrumb.text-left
              %li{'ng-repeat' => 'parent in parents'}
                %button.btn.btn-link{'ng-click' => 'seeChildren(parent)'}
                  {{parent.name}}
            %table.table.table-bordered.table-hover
              %tr{'ng-repeat' => 'row in categoriesIn3s'}
                %td{'ng-repeat' => 'category in row'}
                  %button.btn.btn-link{'ng-click' => 'seeChildren(category)'}
                    {{category.name}}
        .row
          .col-md-12
            %table.table.table-bordered.table-hover{'ng-show' => 'hasItems'}
              %tr
                %th ID
                %th Name
                %th Website
                %th Platform(s)
                %th License(s)
              %tr{'ng-repeat' => 'item in items'}
                %td.text-left
                  {{item.id}}
                %td.text-left
                  {{item.name}}
                %td.text-left
                  %a{href:"{{item.website}}", target:'_blank'}
                    {{item.website}}
                %td.text-left
                  {{item.platform_names}}
                %td.text-left
                  {{item.license_names}}

  %section{id:'development'}
    .container{'ng-controller' => 'DTController'}
      .section-heading.scrollpoint.sp-effect3.active.animated.fadeInDown
        %h1
          Development Tools
        .divider
        .row
          .col-md-12
            %ol.breadcrumb.text-left
              %li{'ng-repeat' => 'parent in parents'}
                %button.btn.btn-link{'ng-click' => 'seeChildren(parent)'}
                  {{parent.name}}
            %table.table.table-bordered.table-hover
              %tr{'ng-repeat' => 'row in categoriesIn3s'}
                %td{'ng-repeat' => 'category in row'}
                  %button.btn.btn-link{'ng-click' => 'seeChildren(category)'}
                    {{category.name}}
        .row
          .col-md-12
            %table.table.table-bordered.table-hover{'ng-show' => 'hasItems'}
              %tr
                %th ID
                %th Name
                %th Website
                %th Platform(s)
                %th License(s)
              %tr{'ng-repeat' => 'item in items'}
                %td.text-left
                  {{item.id}}
                %td.text-left
                  {{item.name}}
                %td.text-left
                  %a{href:"{{item.website}}", target:'_blank'}
                    {{item.website}}
                %td.text-left
                  {{item.platform_names}}
                %td.text-left
                  {{item.license_names}}