- content_for(:header) do
  .box-image{id:'box-image', style:'position:relative'}
    %div{style:'height:160px'}
    .container.main
      .row
        .col-md-10.col-md-offset-1.text-center
          %p.title
            New Project? Start here:
      .row
        -#.col-md-4
        -#  .main-item.sp-effect3
        -#    %a{href:'#enterprise'}
        -#      %i.fa.fa-university
        -#      .subtitle
        -#        Enterprise Applications
        -#
        .col-md-6
          .main-item.sp-effect3
            %a{href:'#programming'}
              %i.fa.fa-cogs
              .subtitle
                Programming Components

        .col-md-6
          .main-item.sp-effect3
            %a{href:'#development'}
              %i.fa.fa-connectdevelop
              .subtitle
                Development Tools

%wrapper
  -#= render partial:'home/section', locals: {div_id:'enterprise', ng_controller:'PPController', category:Category.find(1)}
  = render partial:'home/section', locals: {div_id:'programming',ng_controller:'PPController', category:Category.find(2)}
  = render partial:'home/section', locals: {div_id:'development',ng_controller:'PPController', category:Category.find(3)}

  %section{id:'about'}
    .container
      .section-heading.scrollpoint.sp-effect3.active.animated.fadeInDown
        %h1
          About Us
        .divider
        .row
          .col-md-12
            %p
              Elastic Geeks is made up of software development professionals with an average of 20 years of experience developing production level software for ISVs, SaaS providers and enterprises.  The Geeks hold multiple patents for software innovation.
