- content_for(:header) do
  .container
    .row
      .col-md-12{style:'height:1000px; margin-top:200px'}
        main stuff

%wrapper
  %section{id:'enterprise'}
    .container
      .section-heading.scrollpoint.sp-effect3.active.animated.fadeInDown
        %h1
          Enterprise Applications
        .divider
        %p The table and info will be here
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space

  %section{id:'programming'}
    .container
      .section-heading.scrollpoint.sp-effect3.active.animated.fadeInDown
        %h1
          Programming Platforms
        .divider
        %p The table and info will be here
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space

  %section{id:'development'}
    .container
      .section-heading.scrollpoint.sp-effect3.active.animated.fadeInDown
        %h1
          Development Tools
        .divider
        %p The table and info will be here
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
        %p space
