.container
  %div{'ng-controller' => 'AdminAllController', 'ng-cloak' => 'true', 'ng-init' => 'setRoot(NULL)'}
    = render :partial => 'admin/categories/all_category'
    = render :partial => 'admin/categories/all_item'