.container
  %div{'ng-controller' => 'AdminCategoriesController', 'ng-cloak' => 'true', 'ng-init' => 'setRoot(NULL)'}
    = render :partial => 'admin/categories/category'
    = render :partial => 'admin/categories/item'