body {
  font-size: 100%;
  overflow-x: hidden;
}

table th, table td {
  font-size: 1.3em;
}

//body {
//  padding-top:60px;
//  min-height: 200px;
//  overflow-x: hidden;
//  overflow-y: scroll;
//  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, "sans-serif";
//
//  background-color: #ffffff;
//  background-repeat: no-repeat;
//  background-size: cover;
//  background-position: center 54px;
//  background-attachment: fixed;
//}
//
//h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
//  font-family: Open Sans, "Helvetica Neue", Helvetica, Arial, "sans-serif";
//}

.container {
//  padding-bottom: 100px;
}

// Boostrap 
.well {
  padding:10px;
}

.modal.fade.in{
  top:20%;
}

// ngGrid
.ngColListItem{
  right: 0px;
}

// ngGrid - Get's horizontal scrollbar to behave correctly in ngGrid
.ngViewport{
  height:auto !important;
}
.ngCanvas, .ngViewport, .ngRow, .ngFooterPanel, .ngTopPanel   {
  width: 100% !important;
}
.ngRow {
  border-bottom:none !important;
}
////////////////
