<p>Welcome to Elasticgeeks!</p>

<p>Before loging in you have to confirm your email. Please click on the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
