%footer
  %container
    %a.scrollpoint.sp-effect3
      logo
    .social
      %a.sp-effect3{href:'#'}
        %i.fa.fa-twitter.fa-lg
      %a.sp-effect3{href:'#'}
        %i.fa.fa-google-plus.fa-lg
      %a.sp-effect3{href:'#'}
        %i.fa.fa-facebook.fa-lg
    .rights
      %p
        Copyright &copy; 2015