%footer
  %container
    .row
      .col-md-4.text-left{style:'padding-left:2em'}
        %a{href:'/index/programming-components'}
          Programming Components
        %br
        %a{href:'/index/development-tools'}
          Development Tools
        %br
        %a{href:'/index/enterprise-applications'}
          Enterprise Applications
      .col-md-4.social
        %a.sp-effect3{href:'https://twitter.com/ElasticGeeks', target:'_blank'}
          %i.fa.fa-twitter.fa-lg
        %a.sp-effect3{href:'https://www.facebook.com/elasticgeeks', target:'_blank'}
          %i.fa.fa-facebook.fa-lg
        %a.sp-effect3{href:'https://elasticgeeks.wordpress.com/', target:'_blank'}
          %i.fa.fa-wordpress.fa-lg
        .row
          .col-md-12
            .rights
              %p
                Copyright &copy; 2015
              %p
                -#%i.fa.fa-power-off.fa-rotate-90{style:'margin-right: -0.1em'}
                %span
                  Elastic
                %i.fa.fa-undo.fa-rotate-180{style:'margin-right: -0.1em'}
                %span
                  eeks
      .col-md-4.text-right{style:'padding-right:2em'}
        -#%p
        -#  Your organized source of information for Software Developers, IT Professionals and Decision Makers.
