%footer
  %container
    .row
      .col-md-4.text-left{style:'padding-left:2em'}
        %a{href:'/index/enterprise_applications'}
          Enterprise Applications
        %br
        %a{href:'/index/programming_platforms'}
          Programming Platforms
        %br
        %a{href:'/index/development_tools'}
          Development Tools
      .col-md-4.social
        %a.sp-effect3{href:'#'}
          %i.fa.fa-twitter.fa-lg
        %a.sp-effect3{href:'#'}
          %i.fa.fa-google-plus.fa-lg
        %a.sp-effect3{href:'#'}
          %i.fa.fa-facebook.fa-lg
        .row
          .col-md-12
            .rights
              %p
                Copyright &copy; 2015
              %p
                %i.fa.fa-power-off.fa-rotate-90{style:'margin-right: -0.1em'}
                %span
                  lastic
                %i.fa.fa-undo.fa-rotate-180{style:'margin-right: -0.2em'}
                %span
                  eeks
      .col-md-4.text-right{style:'padding-right:2em'}
        %a{href:'/index/enterprise_applications'}
          Enterprise Applications
        %br
        %a{href:'/index/programming_platforms'}
          Programming Platforms
        %br
        %a{href:'/index/development_tools'}
          Development Tools
